body{
    overflow: hidden;
}
#map{
    width: 100%;
    height: 75vh;
    max-height: 90vh;
}
input[type=text],button[type=submit]{
    height: 40px;
}
.description{
    max-width: 800px;
    min-height: 120px;
    max-height: auto;
}
.description div{
    width: 400px;
}
